@model string
<br/>
<fieldset>
    <H1>Error</H1>
    <hr/>
    <br/>
    <h3>
        @Model
    </h3>
    <h2>
        Go to <a class="btn btn-warning btn-lg" href="~/Account/Index">Login Page </a>
    </h2>
    <br />  
</fieldset>



