@{
    ViewBag.Title = "User Dashboard";
}
<br />
<fieldset>
    <h1>Dashboard</h1>
    <hr />
    <h2>
        <a class="btn btn-warning btn-lg" href="~/Product/Shop">Go there </a> See your store
    </h2>
    <h2>
        <a class="btn btn-warning btn-lg" href="~/Product/ListOfProducts">Go there </a> Manage products
    </h2>
    <br />
</fieldset>